.jatekter {
  
}
.elso-sor {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
/* .kartya {
  padding: 20px;
  color: aquamarine;
  background-color: red;
  margin: 10px; */
}
.sor-ketto {
  /* display: flex;
  justify-content: space-between;
  flex-direction: row; */
}
.flip-card {
  /* display: flex;
  justify-content: space-between; */
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  /* display: flex;
  justify-content: space-between; */
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
